@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PT sans !important;
}

body {
    background: #fff;
    padding: 0 10px;
}
.wrapper .form .inputfield label.error {
    color: #ff3860;
    width: 100%;
    margin-top: 45px;
    padding-left: 277px;
    font-size: 12px;
    position: absolute;
}
.wrapper .form .inputfield #Message-error {
    margin-top: 154px;
    padding-left: 285px;
    color: #ff3860;
    width: 100%;
    font-size: 12px;
    position: absolute;
}
.wrapper .form .inputfield .check #privacy_check-error {
    margin-top: 1px;
    padding-left: 4px;
    color: #ff3860;
    width: 100%;
    font-size: 12px;
    position: absolute;
}

.wrapper .form .radio-box label.error {
    color: #ff3860;
    width: 100%;
    margin-top: 4px;
    padding-left: 20px;
    font-size: 12px;
    position: absolute;
}
.wrapper .form .custom_select label.error {
    color: #ff3860;
    width: 100%;
    margin-top: 15px;
    padding-left: 1px;
    font-size: 12px;
    position: absolute;
}

.wrapper {
    max-width: 800px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    box-shadow: 7px 5px 30px rgb(0 0 0 / 13%);
    padding: 30px;
}

.wrapper .contact-title {
    font-size: 30px;
    font-weight: 600;
    margin: 20px 0 10px 0;
    position: relative;
   
}

.wrapper .form {
    width: 100%;
}

.wrapper .form .inputfield {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 37px;
    margin-bottom: 30px;
}

.wrapper .form .inputfield label {
    width: 250px;
    color: black;
    margin-right: 127px;
    font-size: 14px;
    display:inline-block;
}
   
.wrapper .form .inputfield label.lblname {
    width: 149px;
    color: black;
    margin-right: 119px;
    font-size: 14px;
}
.wrapper .form .inputfield label.lblemail {
    width: 149px;
    color: black;
    margin-right: 119px;
    font-size: 14px;
}
.wrapper .form .inputfield label.lblphone {
    width: 149px;
    color: black;
    margin-right: 119px;
    font-size: 14px;
}
.wrapper .form .inputfield label.lblmsg {
    width: 270px;
    color: black;
    margin-right: 119px;
    font-size: 14px;
}
.wrapper .form .lbl-char {
    margin-top: 67px;
    margin-right: 482px;
    padding-left: 345px;
    width: 100%;
}

.wrapper .form .inputfield .input {
           
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
    position: relative;
    width: 100%;
    margin-bottom: 8px;
}
.wrapper .form .inputfield textarea {
    outline: none;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
    width: 286px;
    height: 100px;
    color: black;
    font-size: 14px;
    margin-top: 25px;
    padding-left: 5px;
    margin-left: -109px;
}

.wrapper .form .inputfield .radio-box {
    position: relative;
    width: 100%;
    height: 37px;
    accent-color: #b70f0f;
    padding: 8px 14px;
}
.wrapper .form .inputfield .radio-box input{
    margin-right:10px;
}
.wrapper .form .inputfield .custom_select {
    position: relative;
    width: 100%;
    height: 37px;
    margin-bottom: 8px;
}

.wrapper .form .inputfield .custom_select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
}

.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield textarea:focus,
.wrapper .form .inputfield .custom_select select:focus {
    border: 2px solid #b70f0f;
}

.wrapper .form .inputfield .check {
    width: 530px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
    font-size: 12px;
    color: black;
    width: 100%;
    padding-left: 5px;
    margin-top: -30px;
}

.wrapper .form .btn-container {
    margin-top: 70px;
    margin-left: 270px;
}

.wrapper .form .inputfield .btn {
    width: 20%;
    padding: 8px 2px;
    font-size: 15px;
    border: 0px;
    background: darkred;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
    outline: none;
    margin-right:5px;
}

.wrapper .form .inputfield .btn:hover {
    background: #fff;
    color:darkred;
    border:2px solid darkred;
}

.wrapper .form .inputfield:last-child {
    margin-bottom: 0;
}

@media (max-width:420px) {
    .wrapper .form .inputfield {
        flex-direction: column;
        align-items: flex-start;
    }

.wrapper .form .inputfield label {
    margin-bottom: 5px;
}

.wrapper .form .inputfield.terms {
    flex-direction: row;
}
}
/*-----Success Message Styling----- */
#toasterSuccess {
    display: none;
    position: fixed;
}

#toasterSuccess.show {
    display: block;
    -webkit-animation: fadein 2.5s, fadeout 3.5s 6.5s;
    animation: fadein 2.5s, fadeout 3.5s 6.5s;
    position: fixed;
    z-index: 999;
    right: 12px;
}

.successful-message {
    padding: 5px 14px !important;
    float: right !important;
}
.toast-top-center {
    top: 60px;
    margin: 0 auto;
    /*width: 1200px;*/ /* width: 100% */
}
/*To hide unwanted webpage elements on Print */
@media print {
    .noPrint {
        display: none;
    }
}