
@{
    ViewBag.Title = "Contact";
}

<!-- Popper JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<!-- Include from the CDN -->
<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.5/dist/html2canvas.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
<!-- Include locally otherwise -->
<!-- <script src='html2canvas.js'></script> -->
<!--Html2Pdf cdn-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

<!--Success Dialog Start-->
<div id="myModalSuccess"  class="modal fade text-width:30%;" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2></h2>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body alert alert-success" id="MyModalSuccessAlertBody">

            </div>
            <div class="modal-footer">
                &nbsp;
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Success Dialog End-->
<div class="container">
    <h2 style="color: green; margin-top: 60px;margin-left:20px;">@ViewBag.Message</h2>
</div>

<div id="element-to-print">

    @*<div class="contact-container">*@

        @*@using (Html.BeginForm("SubmitForm", "ContactUs", FormMethod.Post, new { enctype = "multipart/form-data", @id = "frmContact" }))
            {*@

        <form action="@Url.Action("SubmitForm", "ContactUs")" id="frmContact" method="post" enctype="multipart/form-data">

            

            <div class="wrapper">
                <div class="contact-title">@ViewBag.Title</div>
                <div class="form">
                    <div class="inputfield">
                        <label>Name<span style="color:red;">*</span></label>
                        <input type="text" class="input" id="Contact_Name" name="Contact_Name" />
                    </div>
                    <div class="inputfield">
                        <label>Email Address<span style="color:red;">**</span></label>
                        <input type="text" class="input" id="Email_Address" name="Email_Address" />
                    </div>
                    <div class="inputfield">
                        <label>Phone Number<span style="color:red;">**</span></label>
                        <input type="text" class="input" id="Phone_No" name="Phone_No" />
                    </div>

                    <div class="inputfield">
                        <label>Are you a PNBIL Account Holder?<span style="color:red;">*</span></label>
                        <div class="radio-select">
                            <input type="radio" id="r1" name="Account_holder" value="Yes" />Yes
                            <input type="radio" id="r2" name="Account_holder" value="No" />No

                        </div>
                    </div>
                    <div class="inputfield">
                        <label>Preferred Branch<span style="color:red;">*</span></label>
                        <div class="custom_select">
                            <select  id="Preferred_Branch" name="Preferred_Branch">
                                <option value="">--Select--</option>
                                <option value="Central London">Central London</option>
                                <option value="Southall">Southall</option>
                                <option value="Leicester">Leicester</option>
                                <option value="Birmingham">Birmingham</option>
                                <option value="Ilford">Ilford</option>
                                <option value="Wembley">Wembley</option>
                                <option value="Wolverhampton">Wolverhampton</option>
                            </select>
                        </div>
                    </div>
                    <div class="inputfield">
                        <label>Type of Query<span style="color:red;">*</span></label>
                        <div class="custom_select">
                            <select  id="Query_Type" name="Query_Type">
                                <option value="">--Select--</option>
                                <option value="Products & Services">Products & Services</option>
                                <option value="General enquiries">General enquiries</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                    </div>
                    <div class="inputfield">
                        <label>Your Message<span style="color:red;">*</span></label>
                        <textarea rows="5" cols="30" class="textarea" id="Message" name="Message" onkeyup="charCount(this)"></textarea>
                        <label style="color: darkred; ">Maximum 320 Characters (<span id="excessCount">0</span> in excess)</label>
                    </div>
                    
                    <div class="inputfield terms" style="margin-top: 60px;">
                        <label class="check">
                            <input type="checkbox" value="privacy_notice" />
                            <label style="font-size: 10px; color: gray; width: 100%; padding-left: 88px;">By checking this box you confirm that you have read and agree to our <a href="#" style="color:red;">Privacy Notice</a> </label>
                            <span class="checkmark"></span>
                        </label>
                        
                    </div>
                    <div class="inputfield btn-container">
                        <input type="submit" name="submit" value="Send" class="btn" id="btnSubmit"/>
                        <input type="reset" name="reset" value="Cancel" class="btn" id="btnCancel"/>
                        <input type="button" name="print" value="Print" class="btn" id="btnSavePdf"/>
                    </div>
                </div>
            </div>

        </form>
        @*}*@
    @*</div>*@
</div>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<script type="text/javascript">
    $(document).ready(function () {

        $("#btnSavePdf").click(function() {
            savepdf(); //function call
        });

        var msg = "@TempData["SuccessMessage"]";
        if (msg) {
            openSuccessModal(msg);
        }
    });

    //Function Definition:To Save Form in PDF format.
    function savepdf() {
        var element = document.getElementById('element-to-print');
        var opt = {
            margin: 1,
            filename: $("#Contact_Name").val()+'_'+'ContactDetails.pdf',
            image: { type: 'jpeg', quality: 0.98 },
            html2canvas: { scale: 1,useCORS: true},
            jsPDF: { unit: 'in', format: 'a4', orientation: 'portrait'}
        };
        html2pdf(element,opt);
    }

    @* Javascript code to display Count of excess character of Textarea *@
    function charCount(textarea) {
        var max = 320;
        var length = textarea.value.length;
        //alert(length);
        if (length > max)
        {
            //document.querySelector("#showspan").style.visibility = "hidden";
            excessChar = length - max;
            $("#showspan").text("(" + excessChar + " in excess)");
        }
        else {
            $("#showspan").text("(0 in excess)");
            //document.querySelector("#showspan").style.visibility = "visible";
            //excessChar = length - max;
            //$('#excessCount').text(excessChar);
        }

        //OR
        //if (length > max) {
        //    excessChar = length - max;
        //    $('#excessCount').text(excessChar);
        //}
        //else {
        //    $('#excessCount').text("0");
        //}
    } //end of charCount()

    //Function definition to open Success modal on submitting contact form.
    function openSuccessModal(strMessage) {
        var myDiv = document.getElementById("MyModalSuccessAlertBody");
        myDiv.innerHTML = strMessage;
        $("#myModalSuccess").modal('show');
    }

</script>

@section Validation{
    @*@Scripts.Render("~/bundles/jqueryval")*@
}
<!--OR-->
@*<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

<!--Custom Validation Javascript-->
<script defer src="~/Scripts/ContactUs.js"></script>


